<h1>Buscando: <small>{{nombre}}</small></h1>
<hr>
<div *ngIf="arrayVacio()==true" animated fadeIn fast class="row">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            <h1>No existen resultados con el termino {{nombre}}!!!</h1>
        </div>
    </div>    
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col animated fadeIn fast" *ngFor="let heroe of heroes">
        <app-heroe-tarjeta (heroeSeleccionado)="verHeroe(heroe.id)" [heroe]="heroe"></app-heroe-tarjeta>
        

    </div>
</div>

<!-- <div class="card h-100">
    <img src={{heroe.img}} class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
        <h5 class="card-title">{{ heroe.nombre }}</h5>
        <p class="card-text">{{ heroe.bio }}</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">{{heroe.aparicion}}</small>
        <div>
       
        
         <a [routerLink]="['/heroe',heroe.id]" class="btn btn-outline-primary">Ver mas link...</a>
        </div>
    </div>            
</div>   -->